<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :league %>
    <%= f.input :division %>
    <%= f.input :manager %>
    <%= f.input :wins %>
    <%= f.input :losses %>
    <%= f.input :founded %>
    <%= f.input :mascot %>
    <%= f.input :ballpark %>
    <%= f.input :logo_url %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
