<%
@team_player_stats = @team.players.map{|p| p.team_player_stats.last}.compact
%>

<h1><%= @team.name %></h1>

<table class="data" width="100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Number</th>
			<th>Position</th>
			<th>RL</th>
			<th>AVG</th>
			<th>HR</th>
			<th>RBI</th>
			<th>ERA</th>
		</tr>
	</thead>
	<tbody>

		<% @team_player_stats.each do |player_stats| %>
		<tr>
			<td><%= link_to(player_stats.player.name, player_stats.player) %></td>
			<td><%= player_stats.player.number %></td>
			<td><%= player_stats.position %></td>
			<td><%= player_stats.rl %></td>
			<td class="right"><%= player_stats.avg %></td>
			<td class="right"><%= player_stats.hr %></td>
			<td class="right"><%= player_stats.rbi %></td>
			<td class="right"><%= player_stats.era.blank? ? "N/A" : player_stats.era %></td>
		</tr>
		<% end %>
	</tbody>
</table>
