<h2><%= @user.first_name %>'s Predictions</h2>

<table class="data" width="100%">
	<thead>
		<tr>
			<th>Game</th>
			<th>Player</th>
			<th>Avg</th>
			<th>HR</th>
			<th>RBI</th>
			<th>ERA</th>
		</tr>
	</thead>
	<tbody>

	<% @user.player_game_stat_estimates.upcoming.each do |estimate| %>
	<tr>
		<td><%= estimate.game.to_s %></td>
		<td><%= estimate.player.name %></td>
		<td><%= estimate.avg %></td>
		<td><%= estimate.hr %></td>
		<td><%= estimate.rbi %></td>
		<td><%= estimate.era %></td>
	</tr>
	<% end %>
</tbody>
</table>