<h1>Upcoming Games</h1>
<table class="data" width="100%">
	<thead>
  <tr>
    <th>Starts at</th>
    <th>Home team</th>
    <th>Away team</th>
    <th>Venue</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @games.each do |game| %>
  <tr>
    <td><%= game.starts_at.to_s(:short_time) %></td>
    <td><%= game.home_team.name.split(" ").first %></td>
    <td><%= game.away_team.name.split(" ").first %></td>
    <td><%= game.venue %></td>
    <td><%= link_to 'Show', game %></td>
  </tr>
<% end %>
</tbody>
</table>


