<h1>Listing games</h1>

<table class="data" width="100%">
	<thead>
  <tr>
    <th>Starts at</th>
    <th>Home team</th>
    <th>Away team</th>
    <th>Venue</th>>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>

<% @games.each do |game| %>
  <tr>
    <td><%= game.starts_at.to_s(:short_time) %></td>
    <td><%= game.home_team.name %></td>
    <td><%= game.away_team.name %></td>
    <td><%= game.venue %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
