<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>

	<%= yield(:head) %>

  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="page_container" class="container_12 clearfix">
		<section id="masthead" class="grid_12">
			<% if user_signed_in? %> 
				<%= link_to("My Account", edit_user_registration_url)%> | 
				<%= link_to("My Profile", user_url(current_user))%>
			<% end %>
			<%= render :partial => "/shared/login_widget" %>
		</section>
		
		<header class="grid_12">
			<h1 class="logo">Predict-a-Ball</h1>
			<ul id="menu" class="clearfix">
				<li><%= link_to("Home",root_url, :class => ("selected" if current_page?(root_url))) %></li>
				<li><%= link_to("Teams",teams_url, :class => ("selected" if current_page?(teams_url))) %></li>
				<li><%= link_to("Upcoming Games",games_url, :class => ("selected" if current_page?(games_url))) %></li>
			</ul>
		</header>
		
		<section class="grid_8 content">
			<%= render :partial => "/shared/flash_message" %>
			<%= yield %>
		</section>
		
		<section class="grid_4 content sidebar">
			<%= yield(:right_content) %>
			
			<%= render :partial => "/shared/leaderboard", :locals => {:leaders => User.scoped.limit(10)} %>
			
		</section>
		
		<footer class="grid_12">
	    	All contents copyright &copy;<%= Time.now.year.to_s%> Hack-a-doodle-doo. All rights reserved (Except those that the MLB might sue us for)
	    </footer>
		
	</div>
	
</body>

<script>
	$("#sign_in_toggle").click(function(){
		$("#inline_login_container").slideToggle('fast');
	});
</script>

</html>


